:root {
    --margin: 0px;
}

@media screen and (min-width: 320px) {
    :root {
        --margin: 50px;
    }
}

@media screen and (min-width: 600px) {
    :root {
        --margin: 150px;
    }
}

@media screen and (min-width: 1080px) {
    :root {
        --margin: 250px;
    }
}

body {
    margin: 0px;
}

.group {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px var(--margin) 0px var(--margin);
}

.a {
    font-size: 12px;
}

.b {
    font-size: 16px;
}

.c {
    font-size: 20px;
}

.d {
    font-size: 24px;
}